<!DOCTYPE  >
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<form th:action="@{ajouter}" method="post">
<div class="container">
<div class="form-group">

<input type="text" name="nom"/>
<button type="submit" >save</button>
</div>
</div>

</form>

<table>
<thead>
<tr>
<th>Id</th><th>Nom</th>
</tr>
</thead>
<tbody>
<tr th:each="c:${cuisine}">
<td th:text="${c.id}"></td>
<td th:text="${c.nom}"></td>
</tr>

</tbody>
</table>
</body>
</html>