<!DOCTYPE  >
<html xmlns:th="http://www.thymeleaf.org">

<head>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<link href="../static/css/bootstrap.min.css"
	th:href="@{css/bootstrap.min.css}" type="text/css" rel="stylesheet" />

<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>


<form th:action="@{edit}" method="post">
		<div class="container">
			<div class="form-group">
				<input type="text" name="id" th:value="${cuisine.id}" />
			<input type="text" name="nom" th:value="${cuisine.nom}" />
				<button type="submit" class="btn btn-primary">save</button>
			</div>
		</div>
	</form>
	
</body>
</html>