<!DOCTYPE  >
<html xmlns:th="http://www.thymeleaf.org">

<head>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<link href="../static/css/bootstrap.min.css"
	th:href="@{css/bootstrap.min.css}" type="text/css" rel="stylesheet" />

<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<!-- 	<form th:action="@{cuisines}" method="post"> -->
<!-- 		<div class="container"> -->
<!-- 			<div class="form-group"> -->
<!-- 				<input type="text" name="nom" /> -->
<!-- 				<button type="submit" class="btn btn-primary">save</button> -->
<!-- 			</div> -->
<!-- 		</div> -->
<!-- 	</form> -->
<select>
<option th:each="p:${plates}" th:value="${p.id}"

th:utext="${p.nom}">

</option>

</select>
	<table class="table container">
		<thead>
			<tr>
				<th>Id</th>
				<th>Nom</th>
				<th>Prix</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="p:${plates}">
				<td th:text="${p.id}"></td>
				<td th:text="${p.nom}"></td>
				<td th:text="${p.prix}"></td>
<!-- 				<td><a th:href="@{cuisines/}+${c.id}">Edit</a></td> -->
<!-- 				<td><a th:href="@{cuisines/delete/}+${c.id}">Delete</a></td> -->
				<!-- 				<td th:href="@{cuisines/${c.id})">edit</td> -->
			</tr>
		</tbody>
	</table>
</body>
</html>