<!DOCTYPE  >
<html xmlns:th="http://www.thymeleaf.org">

<head>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<link href="../static/css/bootstrap.min.css"
	th:href="@{css/bootstrap.min.css}" type="text/css" rel="stylesheet" />

<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<table class="table container">
		<thead>
			<tr>
				<th>Id</th>
				<th>Nom</th>
				<th>Prix</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="p:${plateItems}">
				<td th:text="${p.id}"></td>
				<td th:text="${p.nom}"></td>
				<td th:text="${p.prix}"></td>
				<td>
					<form
						th:action="@{~/commande/choicePLateItem(id=${p.id},quantite=${quantite})}"
						method="post">
						<div class="form-group row">
							<div class="col-xs-2">
								<input type="number" name="quantite" class="form-control"
									id="ex1" />
							</div>
							<button type="submit" class="btn btn-xs btn-info">+</button>
						</div>
					</form>
				</td>
			</tr>
		</tbody>
	</table>

	<div th:if="${PlateitemSelected}">
		<div class="panel panel-success">
			<div class="panel-heading">Pagnier:</div>
			<div class="form-group panel-body">
				<div>
					<ul th:each="choix:${plateItemCommander}">
						<li  th:text="${choix.nom}"></li>
						<li th:text="${choix.prix}"> DH</li>
						<li th:text="${choix.quantite}"> </li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<a th:href="@{~/commande/authorPlate}">autre plate</a>
</body>
</html>