<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous" />

<!-- Optional theme -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
	integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
	crossorigin="anonymous" />

<!-- Latest compiled and minified JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
	integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
	crossorigin="anonymous"></script>

<!-- <link href="../static/css/bootstrap.min.css" -->
<!-- 	th:href="@{css/bootstrap.min.css}" type="text/css" rel="stylesheet" /> -->
<meta charset="utf-8">
<title>Restaurant</title>

</head>
<body>


	<nav class="navbar navbar-inverse">
		<div class="container-fluid"></div>
	</nav>
	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="exampleModalLabel">New message</h4>
				</div>
				<div class="modal-body">
					<!-- 					<p th:each="menu:${menus}" th:text="${menu.nom}"> -->
					<!-- 					<p th:each="plate:${plates}" th:text="${plate.nom}"> -->
					<table class="table container">
						<thead>
							<tr>
								<td>Nom</td>
								<td>Prix</td>
							</tr>
						</thead>
						<tbody>
							<tr th:each="pl:${menus}">
								<td th:text="${pl.nom}"></td>
								<td><a type="button" class="btn btn-primary">+</a></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary">Send message</button>
				</div>
			</div>
		</div>
	</div>
	<div class="col col-md-4">
		<div class="panel panel-success">
			<div class="panel-heading">Adress du restaurant:</div>
			<div class="form-group panel-body">
				<form th:action="@{commande/quartierByVille}" method="post">
					<span class="label label-danger">Ville</span> <select
						class="form-control" name="villeForm">
						<option selected="selected" th:utext="${valueSelected}">
						</option>
						<option th:each="v:${villes}" th:value="${v.nom}"
							th:utext="${v.nom}"></option>
					</select>
					<button class="glyphicon glyphicon-ok-circle btn btn-success"
						type="submit"></button>
				</form>
			</div>
			<div th:if="${villeSelected}">
				<form th:action="@{commande/saveAdresse}" method="post">
					<span class="label label-danger">Quartier</span> <select
						class="form-control" name="nomQuartier">
						<option th:each="v:${quartiers}" th:value="${v.id}"
							th:utext="${v.nom}"></option>
					</select>
					<button class="glyphicon glyphicon-ok-circle btn btn-success"
						type="submit"></button>
				</form>
				<!-- 				<form th:action="@{commande/plates}" method="post"> -->
				<!-- 					<button class="glyphicon glyphicon-ok-circle btn btn-success" -->
				<!-- 						type="submit"></button> -->
				<!-- 				</form> -->
			</div>
		</div>
	</div>


	<div class="col col-md-4">
		<div th:if="${adresseSelected}">
			<div class="panel panel-success">
				<div class="panel-heading">Restaurant choisi:</div>
				<div class="form-group panel-body">
					<p th:each="menu:${menus}" th:text="${menu.nom}">
					<p th:each="plate:${plates}" th:text="${plate.nom}">
					<table class="table container">
						<thead>
							<tr>
								<th>Id</th>
								<th>Nom</th>
							</tr>
						</thead>
						<tbody>

							<tr th:each="c:${restaurants}">
								<td th:text="${c.id}"></td>
								<td th:text="${c.nom}"></td>
								<td th:text="${c.menu.nom}"></td>
								<td><p th:each="menu:${menus}" th:text="${menu.nom}"></p></td>
								<td><a th:href="@{commande/Menu/}+${c.id}"
									class="glyphicon glyphicon-couverts btn btn-success">Voir
										Menu</a></td>
							</tr>

						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
<!-- 	<script src="js/bootstrap.min.js"></script> -->
</body>
</html>